@import 'bourbon/bourbon';
@import 'base/base';
@import 'neat/neat';

@import 'navigation';
@import 'hero';
@import 'textures';

html,
body
{
    height: 100%;
    margin: 0;
    padding: 0;
    @include texture(180deg, lighten(#FFB88C, 5), lighten(#DE6262, 5), 67, 1);
}

.container
{
    @include outer-container;
}

.skills {
    text-align: center;

    li {
        padding: 5px;
        background-color: white;
        margin: 5px;
        display: inline-block;
        background: linear-gradient(#005AA9 10%, #00437E 90%);
        border: solid 2px white;
        color: white;
        a {
            text-decoration: none;
            color: white;
        }
    }
}

.project {
    @include span-columns(8);
    @include shift(2);

    margin-top: 10px;
    margin-bottom: 10px;

    padding: 2px;

    @include texture(0deg, #FFB88C, #DE6262, 67, 1);

    .details {
        @include background-image(linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)));
        padding: 10px;
    }

    h2, h3, h4{
        text-transform: uppercase;
    }

    .skills {
        li {
            font-size: 13px;
            padding: 4px;
            margin: 4px;
        }
    }
}

.contact-icons {

    li {
        display: inline-block;
        @include span-columns(6);

        text-align: center;
    }

    a {
        text-decoration: none;
        font-size: 128px;
        color: #000000;
    }
}
